<h2>Your Lists</h2>
<ul class="lists">
  <% @lists.each do |list| %>
  <li>
    <a href="/lists/<%=list.id%>"><%= list.name %></a>
  </li>
  <% end %>
</ul>
<form action="/lists" method="post">
  <label for="list_name">List Name</label>
  <input id="list_name" type="text" name="name" value="">
  <input type="submit" value="Save">
</form>
