<table class="table">
  <tr>
    <th>
      Update To Do
    </th>
    <th>
      Created
    </th>
  </tr>
  <tr>
    <td>
      <form action="/list/active/todos/<%= @todo.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="todo_description">Description</label>
        <input id="todo_description" type="text" name="todo[description]" value="<%= @todo.description%>">
        <input type="hidden" name="list[name]" value="<%= @todo.list.name %>">
        <input type="submit" value="Save">
      </form>
    </td>
    <td>
      <%= @todo.created_at %>
    </td>
  </tr>
</table>
