<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All you have to do is...</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css" media="screen">
  </head>
  <body>
    <aside class="col-md-2 sidebar-nav nav">
      <ul>
        <li><a href="/lists">All Lists</a></li>
        <li><a href="/next">Random To Do</a></li>
        <li>
          <form action="/search" method="get">
            <label for="search_bar">Search To Dos</label>
            <input id="search_bar" type="text" name="q">
          </form>
        </li>
      </ul>
    </aside>
    <header>
      <h1>What to do?</h1>
    </header>
    <article class="col-md-10 main_content">
      <%= yield %>
      <%= @message %>
    </article>
  </body>
</html>
